<form>
<input type='text' name='name' placeholder='Add bunker name'>
<input type='text' name='description' placeholder='Describe your buker'>
<input type='number' name='price' placeholder='What is the price per night'>
<input type='submit' value='List your bunker!'>
</form>