<h3>Thank you for booking with BunkerBnB</h3>

<label>
Here are your booking details: 
</label>
<li>Your booking reference is: <%= @booking.booking_id %></li>
<li>Your property id is: <%= @booking.property_id %></li>


<h6>Please do not try to visit this property as it does not exist</h6>

