<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Raleway&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Bunker</title>
</head>

<body> 
    <header>
        <h1><a href="/">Bunker</a></h1>
        <nav>
            <ul>
                <li><a href="/log_in">Login</a></li>
                <li><a href="/sign_up">Sign-up</a></li>
                <li><a href="/bunker">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
        <p>BunkerBnB.com</p>
    </footer>

</body>
</html>