<form action="/confirm_user" method="post" >
<input type='text' name='username' placeholder='Add a username'>
<input type='password' name='password' placeholder='Add a password'>
<input type='submit' value='Log in'>
</form>
