<form action="/update_property" method="post" >
<input type='text' name='name' placeholder='Add bunker name'>
<input type='text' name='description' placeholder='Describe your buker'>
<input type='number' name='price' placeholder='What is the price per night'>
<input type='submit' value='List your bunker!'>
</form>

<ul>
  <% @booking_details.each do |detail| %>
  <li><%= detail.name %> Has been booked by <%= detail.guest_id %> Booking ref: <%= detail.booking_id %>
  </li><form action="/booking_confirmation/<%=detail.booking_id%>" method="post">
    <input type="submit" value="Accept booking">
  </form>
  <% end %>
</ul>
