<h3>Welcome to BunkerBnB.</h3>
<label>Sign up here:
<form action="/confirm_sign_up" method="post" >

<input type='text' name='username' placeholder='Add a username'>
<br>
<input type='password' name='password' placeholder='Add a password'>
<br>
<input type='text' name='email' placeholder='Add an email'>
<br>

<input type='submit' value='Confirm sign up'>
</form>
</label>