<h1>Welcome to BunkerBnB!</h1>
<br>
<label>
New users can sign up here:
<a href="/sign_up"><button>Sign up</button></a>
</label>
<br> 
<br>
<label>
Already signed up? Log in here:
<a href="/log_in"><button>Log in</button></a>
</label>
